[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
flask = "*"
flask-restplus = "*"
pandas = "*"
gitpython = "*"
colored = "*"
"psycopg2" = "*"
py-time-between = "*"
discord = "*"
"psycopg2-binary" = "*"
flask-login = "*"
sqlalchemy = "*"
wtforms = "*"
flask-wtf = "*"
flask-security = "*"
bcrypt = "*"
active-alchemy = "*"
flask-sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.6"
