[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true 

[dev-packages]
pytest = "*"
pytest-aiohttp = "*"
pytest-ordering = "*"
hypothesis = "*"

[packages]
flask = "*"
flask-restplus = "*"
numpy = "*"
pandas = "*"
psycopg2-binary = "*"
loguru = "*"
requests = "*"
psutil = "*"
py-time-between = "*"
discord-py = "*"
googletrans = "*"
iso-639 = "*"
uvloop = "*"
gitpython = "*"
flask-sqlalchemy = "*"
flask-security = "*"
flask-socketio = "*"
ansi2html = "*"
colored = "*"
pycountry = "*"
asyncpg = "*"
sh = "*"
aiofiles = "*"
apscheduler = "*"
fsmonitor = "*"
aredis = "*"
redis = "*"
aiohttp = "*"
pytz = "*"
cchardet = "*"
aiodns = "*"
brotlipy = "*"
gunicorn = "*"
bcrypt = "*"
gevent-websocket = "*"
gevent = "*"
hypercorn = "*"
fastapi = "*"
python-multipart = "*"
alt-pytest-asyncio = "*"

[requires]
python_version = "3.7"
