{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock %}
{% block navbar %}{% endblock %}
{% block content %}
<div class='container'>
<div class="section">
    <div id="login">
        <article class="message">
  <div class="message-header has-text-centered">
    <p>Login</p>
  </div>
  <div class="message-body">
      <form method="POST" action="{{ url_for_security('login') }}" name="login_user_form">
{{ login_user_form.hidden_tag() }}
<div class="field">
    <div class="control">
  {{ login_user_form.email(class="input", placeholder="email address") }}
</div>
</div>
<div class="field">
    <div class="control">
  {{ login_user_form.password(class="input", placeholder="password") }}
</div>
</div>
        <div class="columns">
            <div class="column is-centered">
                <center>{{ login_user_form.remember(class="checkbox level-left") }}
                <span>Remember me</span></center>
            </div>
        </div>
        <div class="columns">
            <div class="column is-centered">
        <div class="control">
            <center>{{ login_user_form.submit(class="button is-info", label="Login") }}</center>
        </div>
            </div>
        </div>
      </form>
    </div>
        </article>
  </div>
</div>
</div>
{% endblock %}
