#slider {
    position: relative;
	width: 100%;
}

#tooplate_wrapper {
	margin: 0 auto;
	background: url(../images/tooplate_body.jpg) top center no-repeat
}

#tooplate_header {
	width: 900px;
	height: 80px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
	margin-bottom: 10px;
}

#site_title {
	width: 564px;
	height: 35px;
    margin-right: auto;
    margin-left: auto;
    background: url(../images/tooplate_logo.png) no-repeat;
}

#menu {
	width: 560px;
	height: 30px;
	margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
	background: url(../images/tooplate_menu.png) no-repeat
}

#content {
	clear: both;
    align-items: center;
	width: 900px;
	height: 500px;
    margin-right: auto;
    margin-left: auto;
	margin-bottom: 10px;
	background: url(../images/tooplate_content_bg.png)
}

.content_section {
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px dashed #ccc
}

.last_section {
	margin: 0;
	padding: 0;
	border: 0;
}

#footer {
	clear: both;
    margin-left: auto;
    margin-right: auto;
	width: 800px;
	padding: 0 40px;
}

#footer_left {
	float: left;
	width: 250px;
	text-align: left
}

#footer a {
	color: #f6bf34;
}

#social_box {
	float: right;
	height: 85px;
	padding: 0;

}

.discord {
	margin-left: auto;
    margin-right: auto;
    align-items: center;
	width: 270px; height: 50px;
}

.discord img {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: 150px; height: 50px;
}

.scroll {
    height: 500px;
    width: 900px;
    overflow: auto;
    /* overflow-x: hidden; */
    position: relative;
    clear: left;
}

.scrollContainer div.panel {
    height: 350px;
    width: 900px;
	padding: 10px;
	overflow: hidden;
}

ul.navigation {
    list-style: none;
	margin: 0;
    padding: 0;
}

ul.navigation li {
    display: inline;
    margin: 0;
	padding: 0;
}

ul.navigation a {
	float: left;
	display: block;
	width: 110px;
	height: 32px;
	padding: 5px 2px 0 0;
	color: #f6bf34;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
    text-decoration: none;
	background: url(../images/tooplate_menu_divider.png) no-repeat center right;
}

ul.navigation a:hover, ul.navigation a.selected {
	color: #fff;
}

ul.navigation a:focus {
    outline: none;
}

.scrollButtons {
    position: absolute;
    top: 300px;
    cursor: pointer;
}

.scrollButtons.left {
    left: 0
}

.scrollButtons.right {
    right: 0
}

.hide {
    display: none;
}