{% extends "base.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<div id="playertitle">
    {% if ui_isbanned(playerinfo['steamid']) %}
    <div class='container is-mobile has-background-danger bottom-pad-10'>
    {% elif ui_isplayeronline(playerinfo['steamid']) %}
    <div class='container is-mobile has-background-success bottom-pad-10'>
    {% elif ui_isplayerold(playerinfo['steamid']) %}
    <div class='container is-mobile has-background-black bottom-pad-10'>
    {% else %}
    <div class='container is-mobile has-background-grey bottom-pad-10'>
    {% endif %}
    <div>
        <h1 class='title is-mobile top-pad-10 left-pad has-text-white'>&nbsp;{{ playerinfo['playername'].title() }}</h1>
        <h2 class='subtitle is-mobile left-pad has-text-white'>&nbsp;&nbsp;Active: {{ ui_playerlastactive(playerinfo['lastseen']) }}</h2>
    </div>
</div>

<div class='container top-pad-10 left-pad-extra right-pad-extra'>
    <center><p class="title">Change Password</p></center>
    <form action="/changepass/{{ playerinfo['steamid'] }}" method="POST">
                <div class="control top-pad-10">
                    <input class="input is-rounded" type="text" name="password" placeholder="new password">
                </div>
                <div class="control top-pad-5">
                    <input class="input is-rounded" type="text" name="password_confirm" placeholder="re-type new password">
                </div>
                <div class="control">
                    <input class="input is-rounded" type="hidden" name="steamid" value="{{ playerinfo['steamid'] }}">
                </div>
                <div class="container top-pad-10">
                    <div class="control">
                        <center><button class="button is-danger" type="submit" name="Change Password" label="Change Password">Change Password
                            </button></center>
                    </div>
                </div>
</div>
    </form>
</div>
{% endblock %}
{% block refreshtimer %}
{% endblock %}
