{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <script>
        var pageLoader = setInterval(function(){
            $("#event").load(" #event");
            starttimer();
        }, 60000);
    </script>
{% endblock %}

{% block content %}
    <div class='container is-mobile'>
        {% if not currentevent %}
        <div id="event" class='container top-pad-10 left-pad bottom-pad-10 is-mobile has-background-warning'>
            <div>
                <h1 class="title">&nbsp;No Current Events</h1>
                <h2 class="subtitle">&nbsp;Last was {{ ui_elapsedTime(lastevent['endtime']) }} ago</h2>
            </div>
        </div>
        {% else %}
        <div class='container top-pad-5 left-pad bottom-pad-10 is-mobile text-is-white has-background-success'>
            <div>
                <h1 class="title has-text-white">{{ currentevent['title'] }}</h1>
                <h2 class="subtitle has-text-white">{{ currentevent['description'] }}</h2>
            </div>
        </div>
        {% endif %}
        {% if currentevent %}
         <div class='container top-pad-5 bottom-pad-5 left-pad right-pad'>
            <div class='box has-background-success top-pad-5 bottom-pad-5 left-pad right-pad'>
                <p class='is-2 has-text-white'>Current Event: </p>
                <p class='is-2 has-text-white'><b>{{ currentevent['title'] }}</p>
                <p class='is-2 has-text-white'>{{ currentevent['description'] }}</p>
                <p class='is-2 has-text-white'>Ends in {{ ui_elapsedTime(currentevent['endtime']) }}</b></p>
            </div>
        </div>
        {% endif %}
        <div class='container top-pad-5 bottom-pad-5 left-pad right-pad'>
            <div class='box has-background-grey-lighter top-pad-5 bottom-pad-5 left-pad right-pad'>
                <p class='is-2'>Last Event: </p>
                <p class='is-2'><b>{{ lastevent['title'] }}</p>
                <p class='is-2'>{{ lastevent['description'] }}</p>
                <p class='is-2'>Ended {{ ui_elapsedTime(lastevent['endtime']) }} ago</b></p>
            </div>
        </div>
        <div class='container top-pad-5 bottom-pad-5 left-pad right-pad'>
            <div class='box has-background-grey top-pad-5 bottom-pad-5 left-pad right-pad'>
                <p class='is-2 has-text-white'>Next Event:</p>
                {% if not futureevent %}
                <p class='is-2 has-text-white'><b>Not Yet Scheduled</b></p>
                {% else %}
                <p class='is-2 has-text-white'><b>{{ futureevent['title'] }}</p>
                <p class='is-2 has-text-white'>{{ futureevent['description'] }}</p>

                <p class='is-2 has-text-white'>Starts in {{ ui_elapsedTime(futureevent['starttime']) }}</b></p>
                {% endif %}
            </div>
        </div>
        {% if current_user.has_role('admin') %}
        <div class='container top-pad-10 bottom-pad-10 right-pad left-pad'>
            <div>
                <a class="button has-background-success is-medium is-mobile is-centered has-text-white is-rounded is-fullwidth" href="/startevent">Schedule an Event</a>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}
