{% extends "base.html" %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class='container is-mobile top-pad-15'>
        <center><p class="title">Player Search</p></center>
        <div class='container top-pad-15'>
            <div class="columns is-centered is-mobile">
            <div class="column is-8 is-mobile">
            <b>&nbsp;All Players ({{ ui_len(players) }}):</b>
            <form action="/playersearch" method="POST">
                <div class="field has-addons">
                    <div class="control">
                        <div class="select is-rounded is-success is-medium" id="player">
                            <select name="player">
                            <option value="">Select Player</option>
                            {% for player in players %}
                            <option value="{{ player }}">{{ player.title() }}</option>
                            {% endfor %}
                            </select>
                        </div> 
                    </div>
                    <div class="control">
                        <button class="button is-medium" type="submit">
                            <i class="fas fa-lg fa-search"i></i>
                        </button>
                    </div>
                </div>
            </form>
                </div>
            </div>
        </div>
          <div class='container top-pad-15 is-mobile'>
              <div class='container top-pad-15'>
                  <div class="columns is-centered is-mobile">
                      <div class="column is-8 is-mobile">
             <b>&nbsp;New Players This Week ({{ ui_len(newplayers) }}):</b>:
            <form action="/playersearch" method="POST">
                <div class="field has-addons">
                    <div class="control">
                        <div class="select is-rounded is-info is-medium" id="player">
                            <select name="player">
                            <option value="">Select Player</option>
                            {% for player in newplayers %}
                            <option value="{{ player }}">{{ player.title() }}</option>
                            {% endfor %}
                            </select>
                        </div> 
                    </div>
                    <div class="control">
                        <button class="button is-medium" type="submit">
                            <i class="fas fa-lg fa-search"i></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
                  </div>
              </div>
    </div>
 
          <div class='container top-pad-15 is-mobile'>
             <div class='container top-pad-15'>
                 <div class="columns is-centered is-mobile">
                     <div class="column is-8 is-mobile">
             <b>&nbsp;Expired Players ({{ ui_len(expiredplayers) }}):</b>:
            <form action="/playersearch" method="POST">
                <div class="field has-addons">
                    <div class="control">
                        <div class="select is-rounded is-medium" id="player">
                            <select name="player">
                            <option value="">Select Player</option>
                            {% for player in expiredplayers %}
                            <option value="{{ player }}">{{ player.title() }}</option>
                            {% endfor %}
                            </select>
                        </div> 
                    </div>
                    <div class="control">
                        <button class="button is-medium" type="submit">
                            <i class="fas fa-lg fa-search"i></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
                 </div>
             </div>
       
        <div class='container top-pad-15 is-mobile'>
            <div class='container top-pad-15'>
            <div class="columns is-centered is-mobile">
                <div class="column is-8 is-mobile">
            <b>&nbsp;Banned Players ({{ ui_len(bannedplayers) }}):</b>
            <form action="/playersearch" method="POST">
                <div class="field has-addons">
                    <div class="control">
                        <div class="select is-rounded is-danger is-medium" id="player">
                            <select name="player">
                            <option value="">Select Player</option>
                            {% for player in bannedplayers %}
                            <option value="{{ player }}">{{ player.title() }}</option>
                            {% endfor %}
                            </select>
                        </div> 
                    </div>
                    <div class="control">
                        <button class="button is-medium" type="submit">
                            <i class="fas fa-lg fa-search"i></i>
                        </button>
                    </div>
                </div>
            </form>
            </div>
            </div>
        </div>
   {% endblock %}
