{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <script>
    setInterval(function(){ 
            $("#playertitle").load(" #playertitle"); 
            $("#chatbar").load(" #chatbar"); 
            $("#buttons").load(" #buttons");
            $("#playerinfo").load(" #playerinfo");
            starttimer();
        }, 60000);
    </script>
{% endblock %}

{% block content %}
<div id="playertitle">
    {% if ui_isbanned(playerinfo['steamid']) %}
    <div class='container has-background-danger bottom-pad-10'>
    {% elif ui_isplayeronline(playerinfo['steamid']) %}
    <div class='container has-background-success bottom-pad-10'>
    {% elif ui_isplayerold(playerinfo['steamid']) %}
    <div class='container has-background-black bottom-pad-10'>
    {% else %}
    <div class='container has-background-grey bottom-pad-10'>
    {% endif %}
    <div>
        <h1 class='title is-mobile top-pad-10 left-pad has-text-white'>&nbsp;{{ playerinfo['playername'].title() }}</h1>
        <h2 class='subtitle is-mobile left-pad has-text-white'>&nbsp;&nbsp;Active: {{ ui_playerlastactive(playerinfo['lastseen']) }}</h2>
    </div>
    </div>
</div>

<div id="buttons" class='container top-pad-10 left-pad-extra right-pad-extra'>
    <div class='columns left-pad right-pad is-mobile is-centered'>
{% if current_user.has_role('admin') and playerinfo['steamid'] != '76561198408657294' %}
        <div class='column is-mobile has-text-centered'>
            <span class='tooltip' title='Ban Player from Cluster'>
            <a class="button is-info" href="/bantoggle/{{ playerinfo['steamid'] }}">
                <i class="fas fa-lg fa-ban"></i></a></span>
        </div>
{% endif %}
{% if current_user.has_role('admin') or current_user.steamid == playerinfo['steamid'] %}
        {% if ui_isplayeronline(steamid=playerinfo['steamid']) %}
        <div class='column is-mobile has-text-centered'>
            <span class='tooltip' title='Kick Player from {{ playerinfo['server'].title() }}'>
            <a class="button is-info" href="/kickplayer/{{ playerinfo['steamid'] }}/{{ playerinfo['server'] }}">
                <i class="far fa-lg fa-times-circle"></i></a></span>
        </div>
        {% endif %}
        {% if haswebaccount(playerinfo['steamid']) %}
         <div class='column is-mobile has-text-centered'>
            <span class='tooltip' title='Web Account'>
                <a class="button is-info" href="/webinfo/{{ playerinfo['steamid'] }}">
                <i class="fas fa-lg fa-key"></i></a></span>
        </div>
        {% endif %}
{% endif %}
{% if current_user.has_role('admin') %}
        {% if not haswebaccount(playerinfo['steamid']) %}
         <div class='column is-mobile has-text-centered'>
            <span class='tooltip' title='Create Web Account'>
                <a class="button is-info" href="/webcreate/{{ playerinfo['steamid'] }}">
                <i class="fas fa-lg fa-user"></i></a></span>
        </div>
        {% endif %}
{% endif %}
    </div>
</div>
{% if current_user.has_role('admin') %}
<div id="chatbar">
    {% if ui_isplayeronline(playerinfo['steamid']) %}
    <div class='container top-pad-10 is-mobile left-pad-extra right-pad-extra'>
        <div>
            <form action="/playerinfo/{{ playerinfo['playername'].lower() }}" method="POST">
                <div class="field has-addons">
                    <input class="input is-rounded" type="text" name="message" placeholder="Send To {{ playerinfo['playername'].title() }} on {{ playerinfo['server'].capitalize() }}"> 
                    <div class="control">
                        <button class="button is-info" type="submit">
                            <i class="fas fa-lg fa-share"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
    {% endif %}
{% endif %}
<div class='container top-pad-10 left-pad-extra right-pad-extra'>
    <div class="box left-pad-extra top-pad-5 bottom-pad-5 right-pad-extra">
    <div id="playerinfo" class="container">
        {% if current_user.has_role('admin') or current_user.steamid == playerinfo['steamid'] %}
        <p class='is-2'>Steam ID: <b>{{ playerinfo['steamid'].title() }}</b></p>
        <p class='is-2'>Steam Name: <b>{{ playerinfo['steamname'] }}</b></p>
        {% if playerinfo['alias'] %}
        <p class='is-2'>Playername Alias: <b>{{ playerinfo['alias'].title() }}</b></p>
        {% endif %}
        {% if playerinfo['discordid'] != "" %}
        <p class='is-2'>Discord ID: <b>{{ playerinfo['discordid'].title() }}</b></p>
        {% else %}
        <p class='is-2'>Linked to Discord: <b>No</b></p>
        {% endif %}
        {% endif %}

        <p class='is-2'>Last Seen on: <b>{{ playerinfo['server'].title() }}</b></p>
        <p class='is-2'>Home Server: <b>{{ playerinfo['homeserver'].title() }}</b></p>
        <p class='is-2'>Total Played Time: <b>{{ ui_playedTime(playerinfo['playedtime']) }}</b></p>
        <p class='is-2'>Joined: <b>{{ ui_joinedTime(playerinfo['firstseen']) }} ago</b></p>
        <p class='is-2'>Total Connections: <b>{{ playerinfo['connects'] }}</b></p>
        <p class='is-2'>Total Reward Points: <b>{{ playerinfo['rewardpoints'] }} points</b></p>
        <p class='is-2'>Pending Transfer Points: <b>{{ playerinfo['transferpoints'] }} points</b></p>
        <p class='is-2'>Lottery Wins: <b>{{ playerinfo['lottowins'] }} wins</b></p>
        <p class='is-2'>Total Lottery Winnings: <b>{{ playerinfo['lotterywinnings'] }} points</b></p>
        {% if current_user.has_role('admin') or current_user.steamid == playerinfo['steamid'] %}
        <p class='is-2'>Unread Messages: <b>{{ ui_getmessages(playerinfo['steamid'], fmt='count') }}</b></p>
        <p class='is-2'>Waiting Sent Messages: <b>{{ ui_getmessages(playerinfo['steamid'], sent=True, fmt='count') }}</b></p>
        {% endif %}
        <p class='is-2'>Total Auctions: <b>{{ playerinfo['totalauctions'] }} auctions</b></p>
        <p class='is-2'>Item Auctions: <b>{{ playerinfo['itemauctions'] }} auctions</b></p>
        <p class='is-2'>Dino Auctions: <b>{{ playerinfo['dinoauctions'] }} auctions</b></p>
        <p class='is-2'>Steam Realname: <b>{{ playerinfo['steamrealname'] }}</b></p>
        <p class='is-2'>Steam Country: <b>{{ ui_convcountry(playerinfo['steamcountry']) }}</b></p>
        <p class='is-2'>Steam LastLogoff: <b>{{ ui_epochto(playerinfo['steamlastlogoff'], fmt='string', est=True) }}</b></p>
        <p class='is-2'>Steam Created: <b>{{ ui_epochto(playerinfo['steamcreated'], fmt='string', est=True) }}</b></p>
        <p class='is-2'>Steam Community Ban: <b>{{ playerinfo['steamcommunityban'] }}</b></p>
        <p class='is-2'>Steam VAC Ban: <b>{{ playerinfo['steamvacban'] }} / {{ playerinfo['steamvacbannum'] }}</b></p>
        <p class='is-2'>Steam Game Bans: <b>{{ playerinfo['steamgamesbannum'] }}</b></p>
        <p class='is-2'>Steam Economy Ban: <b>{{ playerinfo['steameconomyban'] }}</b></p>
        <p class='is-2'>Online Since Restart: <b>
        {% if playerinfo['restartbit'] == 1 %}
        No
        {% else %}
        Yes
        {% endif %}
        </b></p>
        <p class='is-2'>Primordial Warnings: <b>
        {% if playerinfo['primordialbit'] == 0 %}
        No
        {% else %}
        Yes
        {% endif %}
        </b><p class='is-2'>Cluster Tribes:  <b><br>
        {% for tribe in tribes %}
        {{ tribe['tribename'] }} ({{ tribe['server'].capitalize() }}) [{{ tribe['tribeid'] }}]<br>
        {% endfor %}
        </b></p>
    </div>
    </div>
</div>
{% endblock %}

