{% extends "base.html" %}
{% block head %}
    {{ super() }}
       <script>
        setInterval(function(){ 
            $("#servertitle").load(" #servertitle"); 
            $("#svrinfo").load(" #svrinfo"); 
            $("#currentplayers").load(" #currentplayers");
            $("#lastfive").load(" #lastfive");
            starttimer();
        }, 60000);
        </script>
{% endblock %}

{% block content %}
<div id='servertitle' class='container right-pad left-pad'>
    {% if not ui_isinstanceup(serverinfo['name']) %}
    <div class='container is-mobile has-background-danger bottom-pad-10 right-pad'>
    {% elif ui_isinrestart(serverinfo['name']) %}
    <div class='container is-mobile has-background-info bottom-pad-10 right-pad'>
    {% elif not ui_iscurrentconfig(serverinfo['name']) %}
    <div class='container is-mobile has-background-primary bottom-pad-10 right-pad'>
    {% else %}
    <div class='container is-mobile has-background-success bottom-pad-10 right-pad'>
    {% endif %}
    <h1 class='title is-mobile top-pad-10 left-pad has-text-white'>&nbsp;{{ serverinfo['name'].title() }}  {{ ui_getplayersonline(serverinfo['name'], fmt='count') }}/50</h1>
    {% if ui_isinrestart(serverinfo['name']) %}
        <h2 class='subtitle is-mobile left-pad has-text-white'>&nbsp;Restarting in {{ serverinfo['restartcountdown'] }} minutes</h2>
    {% else %}
        <h2 class='subtitle is-mobile left-pad has-text-white'>&nbsp;&nbsp;Active {{ ui_lastactive(serverinfo['name']) }} </h2>
    {% endif %}
    </div>
</div>

    <div class='container top-pad-10 bottom-pad-5'>
        <div class='columns is-gapless left-pad-extra right-pad is-mobile'>
        {% if current_user.has_role('admin') %}
        <div class='column'>
            <span class="tooltip" title="Wild Dino Wipe">
            <a class="button" href="/server/dinowipe/{{ serverinfo['name'] }}">
            <i class="fas fa-lg fa-brush"></i>
            </a>
            </span>
        </div>
        <div class='column'>
            <span class="tooltip" title="Restart Server Instance">
            <a class="button" href="/server/restart/{{ serverinfo['name'] }}">
                            <i class="fas fa-lg fa-sync"></i>
                        </a>
            </span>
        </div>
        <div class='column'>
            <span class="tooltip" title="Cancel Restart">
            <a class="button" href="/server/cancelrestart/{{ serverinfo['name'] }}">
                            <i class="fas fa-lg fa-minus-circle"></i>
                        </a>
            </span>
        </div>
        {% endif %}
        <div class='column'>
            <span class="tooltip" title="Server Chat">
            <a class="button" href="/server/chatlog/{{ serverinfo['name'] }}">
                            <i class="far fa-lg fa-comment"></i>
                        </a>
            </span>
        </div>
        <div class='column'>
            <span class="tooltip" title="Server Statistics">
            <a class="button" href="/stats/{{ serverinfo['name'] }}">
                            <i class="far fa-lg fa-chart-bar"></i>
                        </a>
            </span>
        </div>
        {% if current_user.has_role('admin') %}
        <div class='column'>
            <span class="tooltip" title="Server Game Log">
            <a class="button" href="/server/gamelog/{{ serverinfo['name'] }}">
                            <i class="far fa-lg fa-file-alt"></i>
                        </a>
            </span>
        </div>
        {% endif %}
        </div>
    </div>

<div class='container is-mobile is-centered left-pad-extra right-pad'>
    <div class='section is-mobile left-pad top-pad-5 bottom-pad-0'>
        <div id="svrinfo">
        <p class='is-2'>Ark Game Version: <b>v{{ serverinfo['arkversion'] }}</b></p>
        {% if current_user.has_role('admin') %}
        <p class='is-2'>Config Version: <b>v{{ serverinfo['cfgver'] }}</b></p>
        {% endif %}
        <p class='is-2'>Last Server Restart: <b>{{ ui_elapsedTime(serverinfo['lastrestart']) }}</b></p>
        <p class='is-2'>Restart Reason: <b>{{ serverinfo['restartreason'].title() }}</b></p>
        <p class='is-2'>Last Dino Wipe: <b>{{ ui_elapsedTime(serverinfo['lastdinowipe']) }}</b></p>
        <p class='is-2'>Last Wipe Vote: <b>{{ ui_elapsedTime(serverinfo['lastvote']) }}</b></p>
        <p class='is-2'>Is Running: <b>{{ serverinfo['isrunning'] }}</b></p>
        <p class='is-2'>Is Listening: <b>{{ serverinfo['islistening'] }}</b></p>
        <p class='is-2'>Is Online: <b>{{ serverinfo['isup'] }}</b></p>
        <p class='is-2'>Uptime: <b>{{ serverinfo['uptime'] }}%</b></p>
        {% if current_user.has_role('admin') %}
        <p class='is-2'>Active Memory: <b>{{ serverinfo['actmem'] }} gigs</b></p>
        <p class='is-2'>Total Memory: <b>{{ serverinfo['totmem'] }} gigs</b></p>
        {% endif %}
        <p class='is-2'>Server Rank: <b>{{ serverinfo['rank'] }}</b></p>
        <p class='is-2'>Server Votes: <b>{{ serverinfo['votes'] }} votes</b></p>
        <p class='is-2'>Server in Event: <b>{{ serverinfo['inevent'] }}</b></p>
        </div>
    </div>
</div>

<div class="container is-mobile is-centered right-pad left-pad">
    <div id="currentplayers">
    <div>
        <p class= 'subtitle top-pad-0 is-size-5 has-text-weight-bold has-text-centered'>Current Players Online: {{ui_getplayersonline(serverinfo['name'], 'count')}}</p>
    </div>
    {% for player in ui_getplayersonline(serverinfo['name'], 'list') %}
    <a class='button is-centered has-background-success has-text-white is-mobile is-rounded is-fullwidth' href="/playerinfo/{{ player }}">{{ player }}&nbsp;on&nbsp;{{ ui_getplayerserver(player).capitalize() }}</a>
    {% endfor %}
    </div>
</div>

<div class="container is-mobile is-centered left-pad right-pad">
    <div id="lastfive">
    <div>
        <p class='subtitle has-text-weight-bold top-pad-dbl is-size-5 has-text-centered '>Last 5 Players Online:</p>
    </div>
    {% for player in ui_getlastplayersonline(serverinfo['name'], 'list') %}
    <a class='button has-background-grey has-text-white is-centered is-mobile is-rounded is-fullwidth' href="/playerinfo/{{ player }}">{{ player }}&nbsp;on&nbsp;{{ ui_getplayerserver(player).capitalize() }}&nbsp;{{ ui_getplayerlasttime(player) }} ago</a>
    {% endfor %}
    </div>
</div>
{% endblock %}

