{% extends "base.html" %}
{% block head %}
    {{ super() }}
       <script>
        setInterval(function(){ 
            $("#servertitle").load(" #servertitle"); 
            $("#svrinfo").load(" #svrinfo"); 
            $("#currentplayers").load(" #currentplayers");
            $("#lastfive").load(" #lastfive");
            starttimer();
        }, 60000);
        </script>
{% endblock %}

{% block content %}
<div id='servertitle'>
    {% if not ui_isinstanceup(serverinfo['name']) %}
    <div class='container has-background-danger bottom-pad-10'>
    {% elif ui_isinrestart(serverinfo['name']) %}
    <div class='container has-background-warning bottom-pad-10'>
    {% elif not ui_iscurrentconfig(serverinfo['name']) %}
    <div class='container has-background-info bottom-pad-10'>
    {% else %}
    <div class='container has-background-success bottom-pad-10'>
    {% endif %}
    <div>
    <h1 class='title top-pad-10 left-pad has-text-white'>&nbsp;{{ serverinfo['name'].title() }}  {{ ui_getplayersonline(serverinfo['name'], fmt='count') }}/50</h1>
    {% if ui_isinrestart(serverinfo['name']) %}
        <h2 class='subtitle left-pad has-text-white'>&nbsp;Restarting in {{ serverinfo['restartcountdown'] }} minutes</h2>
    {% else %}
        <h2 class='subtitle left-pad has-text-white'>&nbsp;&nbsp;Active {{ ui_lastactive(serverinfo['name']) }} </h2>
    {% endif %}
    </div>
    </div>
</div>

<div class='container top-pad-10 bottom-pad-5'>
    <div class='columns is-mobile has-text-centered'>
    {% if current_user.has_role('admin') %}
        <div class='column'>
            <span class="tooltip" title="Wild Dino Wipe">
            <a class="button is-info" href="/server/dinowipe/{{ serverinfo['name'] }}">
            <i class="fas fa-lg fa-brush"></i></a></span>
        </div>
        <div class='column'>
            <span class="tooltip" title="Start Server Instance">
            <a class="button is-info" href="/server/start/{{ serverinfo['name'] }}">
            <i class="fas fa-lg fa-power-off"></i></a></span>
        </div>
        <div class='column'>
            <span class="tooltip" title="Stop Server Instance">
            <a class="button is-info" href="/server/stop/{{ serverinfo['name'] }}">
            <i class="fas fa-lg fa-times-circle"></i></a></span>
        </div>
        <div class='column'>
            <span class="tooltip" title="Restart Server Instance">
            <a class="button is-info" href="/server/restart/{{ serverinfo['name'] }}">
            <i class="fas fa-lg fa-sync"></i></a></span>
        </div>
        <div class='column'>
            <span class="tooltip" title="Cancel Restart">
            <a class="button is-info" href="/server/cancelrestart/{{ serverinfo['name'] }}">
            <i class="fas fa-lg fa-minus-circle"></i></a></span>
        </div>
        {% endif %}
        <div class='column'>
            <span class="tooltip" title="Server Chat">
            <a class="button is-info" href="/server/chatlog/{{ serverinfo['name'] }}">
            <i class="far fa-lg fa-comment"></i></a></span>
        </div>
        <div class='column'>
            <span class="tooltip" title="Server Statistics">
            <a class="button is-info" href="/stats/{{ serverinfo['name'] }}">
            <i class="far fa-lg fa-chart-bar"></i></a></span>
        </div>
    </div>
</div>

<div class='container left-pad-extra right-pad-extra top-pad-5 bottom-pad-10'>
    <div class="box left-pad-extra top-pad-5 bottom-pad-5 right-pad-extra">
        <div id="svrinfo" class="container">
        <p class='is-2'>Server Enabled: <b>{{ serverinfo['enabled'] }}</b></p>
        <p class='is-2'>Ark Game Version: <b>v{{ serverinfo['arkversion'] }}</b></p>
        {% if current_user.has_role('admin') %}
        <p class='is-2'>Ark Game Build: <b>{{ serverinfo['arkbuild'] }}</b></p>
        {% endif %}
        <p class='is-2'>Last Server Restart: <b>{{ ui_elapsedTime(serverinfo['lastrestart']) }}</b></p>
        <p class='is-2'>Restart Reason: <b>{{ serverinfo['restartreason'].title() }}</b></p>
        <p class='is-2'>Last Dino Wipe: <b>{{ ui_elapsedTime(serverinfo['lastdinowipe']) }}</b></p>
        <p class='is-2'>Last Wipe Vote: <b>{{ ui_elapsedTime(serverinfo['lastvote']) }}</b></p>
        <p class='is-2'>Server is Running: <b>
        {% if serverinfo['isrunning'] == 1 %}
        Yes
        {% else %}
        No
        {% endif %}
        </b></p>
        <p class='is-2'>Server is Listening: <b>
        {% if serverinfo['islistening'] == 1 %}
        Yes
        {% else %}
        No
        {% endif %}
        </b></p>
        <p class='is-2'>Server is Online: <b>
        {% if serverinfo['isup'] == 1 %}
        Yes
        {% else %}
        No
        {% endif %}
        </b></p>
        <p class='is-2'>Uptime: <b>{{ serverinfo['uptime'] }}%</b></p>
        {% if current_user.has_role('admin') %}
        <p class='is-2'>Process Active Memory: <b>{{ serverinfo['actmem'] }}g</b></p>
        <p class='is-2'>Process Total Memory: <b>{{ serverinfo['totmem'] }}g</b></p>
        <p class='is-2'>Server CPU: <b>{{ serverinfo['cpucores'] }}c @ {{ serverinfo['cpufreq'] }}Ghz</b></p>
        <p class='is-2'>Server Load (1m/5m/15m): <b>{{ serverinfo['cpuload1'] }}%, {{ serverinfo['cpuload5'] }}%, {{ serverinfo['cpuload15'] }}%</b></p>
        <p class='is-2'>Server Memory Available: <b>{{ serverinfo['svrmemavail'] }}m</b></p>
        <p class='is-2'>Server Memory Free: <b>{{ serverinfo['svrmemfree'] }}m</b></p>
        <p class='is-2'>Swap Used: <b>{{ serverinfo['svrswapused'] }}m</b></p>
        <p class='is-2'>Server Hostname: <b>{{ serverinfo['serverhost'].upper() }}</b></p>
        {% endif %}
        <p class='is-2'>Ark Server Rank: <b>{{ serverinfo['rank'] }}</b></p>
        <p class='is-2'>Ark Server Votes: <b>{{ serverinfo['votes'] }} votes</b></p>
        <p class='is-2'>Instance in Event: <b>
        {% if serverinfo['inevent'] == 1 %}
        No 
        {% else %}
        Yes ({{ serverinfo['inevent'] }})
        {% endif %}
        </b></p>
        </div>
    </div>
</div>

<div class="container right-pad-extra left-pad-extra">
    <div id="currentplayers">
    <div>
        <p class= 'subtitle top-pad-0 is-size-5 has-text-weight-bold has-text-centered'>Current Players Online: {{ui_getplayersonline(serverinfo['name'], 'count')}}</p>
    </div>
    {% for player in ui_getplayersonline(serverinfo['name'], 'list') %}
    <a class='button is-centered has-background-success has-text-white is-mobile is-rounded is-fullwidth' href="/playerinfo/{{ player }}">{{ player }}&nbsp;on&nbsp;{{ ui_getplayerserver(player).capitalize() }}</a>
    {% endfor %}
    </div>
</div>

<div class="container left-pad-extra right-pad-extra top-pad-10">
    <div id="lastfive">
    <div>
        <p class='subtitle has-text-weight-bold top-pad-dbl is-size-5 has-text-centered '>Last 5 Players Online:</p>
    </div>
    {% for player in ui_getlastplayersonline(serverinfo['name'], 'list') %}
    <a class='button has-background-grey has-text-white is-centered is-mobile is-rounded is-fullwidth' href="/playerinfo/{{ player }}">{{ player }}&nbsp;on&nbsp;{{ ui_getplayerserver(player).capitalize() }}&nbsp;{{ ui_getplayerlasttime(player) }} ago</a>
    {% endfor %}
    </div>
</div>
{% endblock %}

