<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content=
"text/html; charset=utf-8" />
<title>Ark: Galaxy Cluster Servers</title>
<meta name="keywords" content="Ark, Galaxy, Game Server, Ark Server" />
<meta name="description" content="Ark: Survival Evolved Ultimate Extinction Core Galaxy Server Cluster" />
<link rel="stylesheet" href=
"{{url_for('static', filename='css/pyark.css?ver=1.22')}}" />
<link rel="stylesheet" href=
"{{url_for('static', filename='css/coda-slider.css?ver=1.0')}}" />
<script src=
"{{url_for('static',filename='js/jquery-1.2.6.js')}}">
</script>
<script src=
"{{url_for('static',filename='js/pyark.js')}}">
</script>
<script src=
"{{url_for('static',filename='js/jquery.scrollTo-1.3.3.js')}}">
</script>
<script src=
"{{url_for('static',filename='js/jquery.localscroll-1.2.5.js')}}">
</script>
<script src=
"{{url_for('static',filename='js/jquery.serialScroll-1.2.1.js')}}">
</script>
<script src=
"{{url_for('static',filename='js/coda-slider.js')}}">
</script>
<script src=
"{{url_for('static',filename='js/jquery.easing.1.3.js')}}">
</script>
<script>
    var pageLoader = setInterval(function(){
            $("#serverstatus").load(" #serverstatus");
            $("#playerinfo").load(" #playerinfo");
        }, 30000);
    var pageLoader = setInterval(function(){
            $("#lotteryinfo").load(" #lotteryinfo");
            $("#eventinfo").load(" #eventinfo");
        }, 60000);
    starttimer();
</script>
</head>
<body>
<div id="slider">
<div id="tooplate_wrapper">
<div id="tooplate_header">
<div id="site_title"></div>
<div id="menu">
<ul class="navigation">
<li><a href="#home" class="selected">Status</a></li>
<li><a href="#stats">Auctions</a></li>
<li><a href="#auctions">Statistics</a></li>
<li><a href="#gallery">Gallery</a></li>
<li><a href="#discord">Login</a></li>
</ul>
</div>
<!-- end of tooplate_menu -->
<div class="cleaner"></div>
</div>
<div id="content">
<div class="scroll">
<div class="scrollContainer">
<div class="panel" id="home">
<div class="dashtitle">
<center>
<h1>Ark: Survival Evolved Ultimate Extinction Core Galaxy Server
Cluster</h1>
</center>
</div>

<div class="col_left float_l">
<div id="lotteryinfo" class="lotteryinfo">
{% if currentlottery['active'] %}
<h3>Current Lottery Ends in <br><span style="color: #FFFFFF">{{ currentlottery['ends'] }}</span></h3>
<div class="spacer"></div>
<div class="spacer"></div>
<h3>Lottery is at <span style="color: #FFFFFF">{{
currentlottery['payout'] }}</span> Points with <span style=
"color: #FFFFFF">{{ currentlottery['playercount'] }}</span>
Players:</h3>
{{ currentlottery['players'] }}<br />
{% else %}
<h3>Next lottery starts in<br />
<span style="color: #FFFFFF">{{ currentlottery['ends']
}}</span></h3>
{% endif %}
<div class="spacer"></div>
<div class="spacer"></div>
<h3>Last Lottery winner was: <span style="color: #FFFFFF">{{
lastlottery['winner'].title() }}</span> with <span style=
"color: #FFFFFF">{{ lastlottery['payout'] }}</span> Points</h3>
<div class="spacer"></div>
<div class="spacer"></div>
<h3>Last 7 lottery winners:</h3>
{% for lottoplayer in last7lotterys %} {{ lottoplayer['num'] }}. {{
lottoplayer['playername'].title() }} won {{ lottoplayer['points']
}} Points<br>{% endfor %}
</div>
</div>

<div class="col_center float_l">
<center>
<div id="eventinfo" class="eventinfo">
{% if eventinfo['active'] %}
<h3><span style="color: #FFFFFF">{{ eventinfo['title'].title() }}</span> is Active</h3>
<h4>Event ends in <span style="color: #FFFFFF">1 Days, 4 Hours</span></h4>
{{ eventinfo['description'] }}
{% else %}
{{ eventinfo }}
<h3>Next Event: Evolution Weekend<br />
in 1 Days, 4 Hours</h3>
{% endif %}
</div>
<div class="minispacer"></div>

<div id="serverstatus" class="serverstatus">
  {% for instance in instancedata %}
  {% if instance['enabled'] %}
  <button class="serverbutton upcolor">
  <span class="servername" style="color: #FFFF87">{{instance['name'].capitalize()}}&nbsp;-&nbsp;{{instance['activeplayers']}}</span>
  <br />
  <span class="serverstatus" style="color: #FFFFFF">ONLINE</span>
  </button>
  {% else %}
  <button class="serverbutton upcolor" style="color: #FFFFFF; text-decoration: line-through;">{{instance['name'].capitalize()}}&nbsp;&nbsp;{{ a }}</button>
  {% endif %}
  {% endfor %}
</div>

<div class="discordlogo">
<center>
<a href="https://discord.gg/AtA9T3R"><img src="{{url_for('static',filename='images/discord_150.png')}}"></ ></a>
</center>
</div>
</div>

<div class="col_right float_l">
<div id="playerinfo">
<div class="onlineplayernames">
<h3><span style="color: #FFFFFF"><b>{{ onlineplayers['count']
}}</b></span> Online Players:</h3>
{{ onlineplayers['names'] }}</div>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="dailyplayers">
<h3><span style="color: #FFFFFF">{{ dailyplayers['count']
}}</span> Active players today:</h3>
{{ dailyplayers['names'] }}
</div>
<div class="spacer"></div>
<h3><span style="color: #FFFFFF">{{ otherplayercounts['week']
}}</span> Active players this week</h3>
<div class="spacer"></div>
<h3><span style="color: #FFFFFF">{{ otherplayercounts['month']
}}</span> Active players this month</h3>
<div class="spacer"></div>
<h3><span style="color: #FFFFFF">{{ newplayers['count']
}}</span> New Players this week:</h3>
{{ newplayers['names'] }}
</div>
</div>
</div>
<!-- end of home -->
<div class="panel" id="about"><br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<center>
<h1>Comming Soon...</h1>
</center>
</div>
<!-- end of aboutus -->
<div class="panel" id="services"><br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<center>
<h1>Comming Soon...</h1>
</center>
</div>
<!-- end of service -->
<div class="panel" id="gallery">
<h1>Screenshot Gallery</h1>
<div id="gallery_container">{% for galleryimg in gallerylinks %}
<div class="gallery_box"><a href="{{galleryimg['link']}}"
target="_blank"><img src="{{galleryimg['link']}}" alt=
"Gallery Image" /></a></div>
{% endfor %}
<div class="cleaner"></div>
</div>
</div>
<!-- end of gallery -->
<div class="panel" id="contact"><br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<center>
<h1>Comming Soon...</h1>
</center>
</div>
<!-- end of contact --></div>
</div>
<!-- end of scroll --></div>
<div id="footer">
<div id="footer_center"><span style="color: #AAAAAA">Page Refreshes Automatically</span>
<div class="spacer_50"></div>
</div>
<div class="cleaner"></div>
</div>
</div>
</div>
</body>
</html>
