<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content=
"text/html; charset=utf-8" />
<title>Ark: Galaxy Cluster Servers</title>
<meta name="keywords" content="Ark, Galaxy, Game Server, Ark Server" />
<meta name="description" content="Ark: Survival Evolved Ultimate Extinction Core Galaxy Server Cluster" />
<link rel="stylesheet" href=
"{{url_for('static', filename='css/pyark.css?ver=1.28')}}" />
<link rel="stylesheet" href=
"{{url_for('static', filename='css/coda-slider.css?ver=1.0')}}" />
<script src=
"{{url_for('static',filename='js/jquery-1.2.6.js')}}">
</script>
<script src=
"{{url_for('static',filename='js/pyark.js')}}">
</script>
<script src=
"{{url_for('static',filename='js/jquery.scrollTo-1.3.3.js')}}">
</script>
<script src=
"{{url_for('static',filename='js/jquery.localscroll-1.2.5.js')}}">
</script>
<script src=
"{{url_for('static',filename='js/jquery.serialScroll-1.2.1.js')}}">
</script>
<script src=
"{{url_for('static',filename='js/coda-slider.js')}}">
</script>
<script src=
"{{url_for('static',filename='js/jquery.easing.1.3.js')}}">
</script>
<script>
    var pageLoader = setInterval(function(){
            $("#serverupdate").load(" #serverupdate");
            $("#playerupdate").load(" #playerupdate");
        }, 30000);
    var pageLoader = setInterval(function(){
            $("#lotteryupdate").load(" #lotteryupdate");
            $("#eventupdate").load(" #eventupdate");
        }, 60000);
    var pageLoader = setInterval(function(){
            $("#auctionupdate").load(" #auctionupdate");
        }, 300000);
    var pageLoader = setInterval(function(){
            $("#playerhistoryupdate").load(" #playerhistoryupdate");
        }, 600000);
    starttimer();
</script>
</head>
<body>
<div id="slider">
<div id="tooplate_wrapper">
<div id="tooplate_header">
<div id="site_title"></div>
<div id="menu">
<ul class="navigation">
<li><a href="#home" class="selected">Status</a></li>
<li><a href="#auctions">Auctions</a></li>
<li><a href="#stats">Statistics</a></li>
<li><a href="#gallery">Gallery</a></li>
<li><a href="#discord">Login</a></li>
</ul>
</div>

<div class="cleaner"></div>
</div>
<div id="content">
<div class="scroll">
<div class="scrollContainer">
<div class="panel" id="home">
<div class="dashtitle">
<center>
<h1>Ark: Survival Evolved Ultimate Extinction Core Galaxy Server
Cluster</h1>
</center>
</div>
<div class="col_left float_l">
<div class="lotteryinfo">
<div id="lotteryupdate">
{% if currentlottery['active'] %}
<h3>Current Lottery Ends in <br><span style="color: #FFFFFF">{{ currentlottery['ends'] }}</span></h3>
<div class="spacer"></div>
<div class="spacer"></div>
<h3>Lottery is at <span style="color: #FFFFFF">{{
currentlottery['payout'] }}</span> Points with <span style=
"color: #FFFFFF">{{ currentlottery['playercount'] }}</span>
Players:</h3>
{{ currentlottery['players'] }}<br />
{% else %}
<h3>Next lottery starts in<br />
<span style="color: #FFFFFF">{{ currentlottery['ends']
}}</span></h3>
{% endif %}
<div class="spacer"></div>
<div class="spacer"></div>
<h3>Last Lottery winner was: <span style="color: #FFFFFF">{{
lastlottery['winner'].title() }}</span> with <span style=
"color: #FFFFFF">{{ lastlottery['payout'] }}</span> Points</h3>
<div class="spacer"></div>
<div class="spacer"></div>
<h3>Last 7 lottery winners:</h3>
{% for lottoplayer in last7lotterys %} {{ lottoplayer['num'] }}. {{
lottoplayer['playername'].title() }} won {{ lottoplayer['points']
}} Points<br>{% endfor %}
</div>
</div>
</div>
<div class="col_center float_l">
<center>
<div class="eventinfo">
<div id="eventupdate">
{% if eventinfo['active'] %}
<h3><span style="color: #FFFFFF">{{ eventinfo['title'].title() }}</span> is Active</h3>
<h4>Event ends in <span style="color: #FFFFFF">{{ eventinfo['timeleft'] }}</span></h4>
{{ eventinfo['description'] }}
{% else %}
<h3>No Current Active Event</h3>
<h3>Next Event: {{eventinfo['title'].title()}}<br />
in <span style="color: #FFFFFF">{{ eventinfo['timeleft'] }}</span></h3>
<div class="spacer"></div>
<div class="spacer"></div>
{% endif %}
</div>
</div>
<div class="minispacer"></div>
<div class="serverstatus">
  <div id="serverupdate">
  {% for instance in instancedata %}
  {% if instance['needrestart'] %}
  <button class="serverbutton warningcolor">
  {% if instance['enabled'] %}
  <span class="servername" style="color: #000000">{{instance['name'].capitalize()}}&nbsp;-&nbsp;{{instance['activeplayers']}}</span>
  <br />
  <span class="serverstatus" style="color: #000000">RESTARTING in {{ instance['restartcountdown']}} min</span>
  {% else %}
  <span class="servername" style="color: #000000; text-decoration: line-through; ">{{instance['name'].capitalize()}}&nbsp;-&nbsp;{{instance['activeplayers']}}</span>
  <br />
  <span class="serverstatus" style="color: #000000">RESTARTING in {{ instance['restartcountdown']}} min</span>
  {% endif %}
  </button>
  {% elif instance['isup'] %}
  <button class="serverbutton upcolor">
  {% if instance['enabled'] %}
  <span class="servername" style="color: #FFFF87">{{instance['name'].capitalize()}}&nbsp;-&nbsp;{{instance['activeplayers']}}</span>
  <br />
  <span class="serverstatus" style="color: #FFFFFF">ONLINE</span>
  {% else %}
  <span class="servername" style="color: #FFFF87; text-decoration: line-through; ">{{instance['name'].capitalize()}}&nbsp;-&nbsp;{{instance['activeplayers']}}</span>
  <br />
  <span class="serverstatus" style="color: #FFFFFF">ONLINE</span>
  {% endif %}
  </button>
  {% elif instance['islistening'] %}
  <button class="serverbutton offlinecolor">
  {% if instance['enabled'] %}
  <span class="servername" style="color: #FFFF87">{{instance['name'].capitalize()}}&nbsp;-&nbsp;{{instance['activeplayers']}}</span>
  <br />
  <span class="serverstatus" style="color: #FFFFFF">STEAM OFFLINE</span>
  {% else %}
  <span class="servername" style="color: #FFFF87; text-decoration: line-through; ">{{instance['name'].capitalize()}}&nbsp;-&nbsp;{{instance['activeplayers']}}</span>
  <br />
  <span class="serverstatus" style="color: #FFFFFF">STEAM OFFLINE</span>
  {% endif %}
  </button>
  {% else %}
  <button class="serverbutton downcolor">
  {% if instance['enabled'] %}
  <span class="servername" style="color: #FFFF87">{{instance['name'].capitalize()}}</span>
  <br />
  <span class="serverstatus" style="color: #FFFFFF">OFFLINE</span>
  {% else %}
  <span class="servername" style="color: #FFFF87; text-decoration: line-through; ">{{instance['name'].capitalize()}}</span>
  <br />
  <span class="serverstatus" style="color: #FFFFFF">OFFLINE</span>
  {% endif %}
  </button>
  {% endif %}
  {% endfor %}
</div>
</div>
<div class="discordlogo">
<center>
<a href="https://discord.gg/AtA9T3R"><img src="{{url_for('static',filename='images/discord_150.png')}}"></ ></a>
</center>
</div>
</div>
<div class="col_right float_l">
<div class="onlineplayernames">
<div id="playerupdate">
<h3><span style="color: #FFFFFF"><b>{{ onlineplayers['count']
}}</b></span> Online Players:</h3>
{{ onlineplayers['names'] }}
</div>
</div>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="dailyplayers">
<div id="playerhistoryupdate">
<h3><span style="color: #FFFFFF">{{ dailyplayers['count']
}}</span> Active players today:</h3>
{{ dailyplayers['names'] }}
<div class="spacer"></div>
<h3><span style="color: #FFFFFF">{{ otherplayercounts['week']
}}</span> Active players this week</h3>
<div class="spacer"></div>
<h3><span style="color: #FFFFFF">{{ otherplayercounts['month']
}}</span> Active players this month</h3>
<div class="spacer"></div>
<h3><span style="color: #FFFFFF">{{ newplayers['count']
}}</span> New Players this week:</h3>
{{ newplayers['names'] }}
</div>
</div>
</div>
</div>

<div class="panel" id="auctions">
<div class="dashtitle">
<center>
<h1>Ark: Survival Evolved Galaxy Server Cluster Auctions</h1>
</center>
</div>
<center>
<div id="auctionupdate">
<h2>Dinos in Auction:</h2>
<div class="minispacer"></div>
<div class="divTable AuctionTable">
<div class="divTableHeading">
<div class="divTableRow">
<div class="divTableHead">Seller</div>
<div class="divTableHead">Quantity</div>
<div class="divTableHead">Dino Name (Level)</div>
<div class="divTableHead">Price (Points)</div>
<div class="divTableHead">Gender</div>
<div class="divTableHead">Extra Levels</div>
<div class="divTableHead">Experience</div>
<div class="divTableHead">Date</div>
</div>
</div>
<div class="divTableBody">
{% for auction in dinoauctiondata %}
<div class="divTableRow">
<div class="divTableCell">{{auction['playername'].title()}}</div>
<div class="divTableCell">{{auction['quanity']}}</div>
<div class="divTableCell">{{auction['auctioname'].title()}} ({{auction['level']}})</div>
<div class="divTableCell">{{auction['askingamount']}}</div>
<div class="divTableCell">{{auction['gender']}}</div>
<div class="divTableCell">{{auction['extralevels']}}</div>
<div class="divTableCell">{{auction['exp']}}</div>
<div class="divTableCell">{{auction['date']}}</div>
</div>
{% endfor %}
</div>
</div>
<div class="spacer"></div>
<div class="spacer"></div>
<h2>Items in Auction:</h2>
<div class="minispacer"></div>
<div class="divTable AuctionTable">
<div class="divTableHeading">
<div class="divTableRow">
<div class="divTableHead">Seller</div>
<div class="divTableHead">Quantity</div>
<div class="divTableHead">Item Name</div>
<div class="divTableHead">Price (Points)</div>
<div class="divTableHead">Blueprint?</div>
<div class="divTableHead">Date</div>
</div>
</div>
<div class="divTableBody">
{% for auction in itemauctiondata %}
<div class="divTableRow">
<div class="divTableCell">{{auction['playername'].title()}}</div>
<div class="divTableCell">{{auction['quanity']}}</div>
<div class="divTableCell">{{auction['auctioname'].title()}}</div>
<div class="divTableCell">{{auction['askingamount']}}</div>
<div class="divTableCell">{{auction['blueprint']}}</div>
<div class="divTableCell">{{auction['date']}}</div>
</div>
{% endfor %}
</div>
</div>
</div>
</center>
</div>

<div class="panel" id="stats">
<div class="dashtitle">
<center>
<h1>Ark: Survival Evolved Galaxy Server Cluster Statistics</h1>
</center>
</div>
<div class="spacer"></div>
<div class="statistics">
<div id="statsupdate">
<center>
{% for instance in instancestats %}
<div class="inststatus">
<div class="col_server float_l">
<h2>{{ instance['name'].upper() }}</h2>
<div class="minispacer"></div>
Players Active: {{ instance['activeplayers']}}<br>
Connecting: {{ instance['connectingplayers']}}<br>
<div class="minispacer"></div>
Ark Version: {{ instance['arkversion']}}<br>
Server Rank: {{ instance['rank']}}<br>
Server Score: {{ instance['score']}}<br>
Server Votes: {{ instance['votes']}}<br>
</div>
</div>
{% endfor %}
</center>
</div>
</div>
</div>

<div class="panel" id="gallery">
<div class="dashtitle">
<center>
<h1>Ark: Survival Evolved Galaxy Server Cluster Screenshots</h1>
</center>
</div>
<div class="minispacer"></div>
<div id="gallery_container">
{% for galleryimg in gallerylinks %}
<div class="gallery_box"><a href="{{galleryimg['link']}}"
target="_blank"><img src="{{galleryimg['link']}}" alt=
"Gallery Image" /></a></div>
{% endfor %}
<div class="cleaner"></div>
</div>
</div>

<div class="panel" id="login"><br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<center>
<h1>Player Logins Comming Soon...</h1>
</center>
</div>
</div>
</div>
</div>

<div id="footer">
<div id="footer_center"><span style="color: #AAAAAA">Page Refreshes Automatically</span>
<div class="spacer_50"></div>
</div>
<div class="cleaner"></div>
</div>
</div>
</div>
</body>
</html>
