<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="icon" type="image/png" href="{{url_for('static', filename='images/favicon.ico')}}" />
    <title>Ark: Galaxy Cluster Servers</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/error.css?ver=1.00')}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="2">
</head>
<body>
    <center><h1>Website in Maintenance</h1></center>
    <center><p>Page will be refreshed automatically</p></center>
</body>
</html>