<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content=
"text/html; charset=utf-8" />
<link rel="icon" type="image/png" href="static/images/favicon.ico" />
<title>Ark: Galaxy Cluster Servers</title>
<meta name="description" content="Ark: Survival Evolved Ultimate Extinction Core Galaxy Server Cluster" />
<link rel="stylesheet" href="static/css/pyark.css?ver=1.58" />
<link rel="stylesheet" href="static/css/coda-slider.css?ver=1.2" />
<script src="static/js/jquery-1.2.6.js"></script>
<script src="static/js/coda-slider.js"></script>
<meta http-equiv="refresh" content="10">
</head>
<body>
<div id="slider">
<div id="tooplate_wrapper">
<div id="tooplate_header">
<div id="site_title"></div>
<div id="menu">
<ul class="navigation">
<li><a href="#" class="selected">Status</a></li>
<li><a href="#">Auctions</a></li>
<li><a href="#">Statistics</a></li>
<li><a href="#">Gallery</a></li>
<li><a href="#">Login</a></li>
</ul>
</div>

<div class="cleaner"></div>
</div>
<div id="content">
<div class="scroll">
<div class="scrollContainer">
<div class="panel" id="home">
<div class="spacer"></div>
<div class="dashtitle">
<center>
<h1>Ark: Survival Evolved Ultimate Extinction Core Galaxy Server
Cluster</h1>
</center>
</div>
<div class="minispacer"></div>
<div class="servermaintenance">
<div><h1>Dashboard currently unavailable</h1>
<center><p>Page will refresh automatically</p></center>
</div>

</div>
</div>
</div>
</div>
</div>
<div class="minispacer"></div>

<div id="footer">
<div id="footer_center"><span style="color: #AAAAAA">Page Refreshes Automatically</span>
<div class="spacer_50"></div>
</div>
<div class="cleaner"></div>
</div>
</div>
</div>
</body>
</html>
