<!doctype html>
<html>
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="/manifest.json">
        <script src="/static/js/jquery-3.3.1.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
             <script>
            $(function () {
                toastr.options = {
                  "closeButton": false,
                  "debug": false,
                  "newestOnTop": false,
                  "progressBar": false,
                  "positionClass": "toast-top-center",
                  "preventDuplicates": false,
                  "onclick": null,
                  "showDuration": "300",
                  "hideDuration": "1000",
                  "timeOut": "5000",
                  "extendedTimeOut": "1000",
                  "showEasing": "swing",
                  "hideEasing": "linear",
                  "showMethod": "fadeIn",
                  "hideMethod": "fadeOut"
                    }
                });
            </script>
            <script>
                $(function () {
            {% for category, message in messages %}
            {% if category == "success" %}
                toastr.success("{{ message }}");
            {% elif category == "warning" %}
                toastr.warning("{{ message }}");
            {% elif category == "error" %}
                toastr.error("{{ message }}");
            {% else %}
                toastr.info("{{ message }}");
            {% endif %}
                var $notifyContainer = $('#toast-container').closest('.toast-top-center');
                if ($notifyContainer) {
                // align center
                var windowHeight = $(window).height() - 90;
                $notifyContainer.css("margin-top", windowHeight / 3);
                }
            });
            </script>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <style>
            html { background-color:#ffffff; }
        </style>
    </head>
    {% endblock %}
    {% block navbar %}
    <nav class="navbar has-background-black" role="navigation">

        <div class="navbar-brand">
            <a class="navbar-item has-text-white" href="/dashboard" style="font-weight:bold;">
                <i class="fas fa-home"></i></a>
            <a role="button" class="navbar-burger has-background-black has-text-white" data-target="navMenu">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>

        <div id="navMenu" class="navbar-menu has-text-white has-background-black">
            <a href="/dashboard" class="navbar-item has-text-white">Dashboard</a>
            <a href="/playerinfo" class="navbar-item has-text-white">Players</a>
            <a href="/events" class="navbar-item has-text-white">Events</a>
            <a href="/lottery" class="navbar-item has-text-white">Lottery</a>
            <a href="/stats" class="navbar-item has-text-white">Stats</a>
            <a href="/logout" class="navbar-item has-text-white">Logout</a>
        </div>

    </nav>
    <script>
        $(document).ready(function() {
        // Check for click events on the navbar burger icon
            $(".navbar-burger").click(function() {
        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            $(".navbar-burger").toggleClass("is-active");
            $(".navbar-menu").toggleClass("is-active");
            });
        });
    </script>
    {% endblock %}
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>



