{% from "wtf.html" import username_form_field, password_form_field, checkbox_form_field %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="/manifest.json">
        <script src="/static/js/jquery-3.3.1.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}">
        <script src="/static/js/bulma-toast.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
             <script>
            $(function () {
                toastr.options = {
                  "closeButton": false,
                  "debug": false,
                  "newestOnTop": false,
                  "progressBar": false,
                  "positionClass": "toast-top-center",
                  "preventDuplicates": false,
                  "onclick": null,
                  "showDuration": "300",
                  "hideDuration": "1000",
                  "timeOut": "5000",
                  "extendedTimeOut": "1000",
                  "showEasing": "swing",
                  "hideEasing": "linear",
                  "showMethod": "fadeIn",
                  "hideMethod": "fadeOut"
                    }
                });
            </script>
            <script>
                $(function () {
            {% for category, message in messages %}
            {% if category == "success" %}
                toastr.success("{{ message }}");
            {% elif category == "warning" %}
                toastr.warning("{{ message }}");
            {% elif category == "error" %}
                toastr.error("{{ message }}");
            {% else %}
                toastr.info("{{ message }}");
            {% endif %}
                var $notifyContainer = $('#toast-container').closest('.toast-top-center');
                if ($notifyContainer) {
                // align center
                var windowHeight = $(window).height() - 90;
                $notifyContainer.css("margin-top", windowHeight / 5);
                }
            });
            </script>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <style>
            html { background-color:#ffffff; }
        </style>
    </head>
<body>
<div class="section">
    <div id="login">
        <article class="message">
  <div class="message-header has-text-centered">
    <p>Login</p>
  </div>
  <div class="message-body">
      <form method="POST" action="/">
        {{ form.hidden_tag() }}
        {{ username_form_field(form.username) }}
        {{ password_form_field(form.password) }}
        <div class="columns">
            <div class="column is-centered">
                <center>{{ checkbox_form_field(form.remember) }}</center>
            </div>
        </div>
        <div class="columns">
            <div class="column is-centered">
        <div class="control">
            <center><input class="button is-info" type="submit"></center>
        </div>
            </div>
        </div>
      </form>
    </div>
        </article>
  </div>
</div>
</body>
</html>
