<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="/manifest.json">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    </head>

    <body>
    <nav class="navbar is-info">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="#" style="font-weight:bold;">
            Galaxy Cluster Ark Servers
          </a>
          <span class="navbar-burger burger" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navMenu" class="navbar-menu">
          <div class="navbar-end">
            <a href="/" class="navbar-item is-active">Dashboard</a>
            <a href="/playerinfo" class="navbar-item">Players</a>
            <a href="/events" class="navbar-item">Events</a>
            <a href="/lottery" class="navbar-item">Lottery</a>
            <a href="/stats" class="navbar-item">Stats</a>
          </div>
        </div>
      </div>
    </nav>
    <script type="text/javascript">
      (function() {
        var burger = document.querySelector('.burger');
        var nav = document.querySelector('#'+burger.dataset.target);
        burger.addEventListener('click', function(){
          burger.classList.toggle('is-active');
          nav.classList.toggle('is-active');
        });
      })();
    </script>
    <div class='container is-mobile is-centered left-pad top-pad-10'>
        <div class='container top-pad-15 is-centered is-mobile'>
            <form action="/playersearch" method="POST">
                <div class="field has-addons">
                    <div class="control">
                        <div class="select" id="player">
                            <select name="player">
                            <option value="">Select Player</option>
                            {% for player in players %}
                            <option value="{{ player }}">{{ player.title() }}</option>
                            {% endfor %}
                            </select>
                        </div> 
                    </div>
                    <div class="control">
                        <button class="button" type="submit">
                        <span class="icon is-large">
                            <i class="fas fa-lg fa-search"i></i>
                        </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

