<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="/manifest.json">
        <script src="/static/js/jquery-3.3.1.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}">
        <script src="/static/js/bulma-toast.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
        <script>
            $(function(){
                $("#gnavbar").load("/static/navbar.html");
            });
        </script>

    </head>
    <body>
    <div id="gnavbar"></div>


    <div class='container is-mobile is-centered left-pad top-pad-10'>
        <div class='container top-pad-15 is-centered is-mobile'>
            <b>&nbsp;Player Lookup ({{ ui_len(players) }}):</b>
            <form action="/playersearch" method="POST">
                <div class="field has-addons">
                    <div class="control">
                        <div class="select is-medium" id="player">
                            <select name="player">
                            <option value="">Select Player</option>
                            {% for player in players %}
                            <option value="{{ player }}">{{ player.title() }}</option>
                            {% endfor %}
                            </select>
                        </div> 
                    </div>
                    <div class="control">
                        <button class="button is-medium" type="submit">
                            <i class="fas fa-lg fa-search"i></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class='container top-pad-15 is-centered is-mobile'>
            <b>&nbsp;Banned Players ({{ ui_len(bannedplayers) }}):</b>:
            <form action="/playersearch" method="POST">
                <div class="field has-addons">
                    <div class="control">
                        <div class="select is-medium" id="player">
                            <select name="player">
                            <option value="">Select Player</option>
                            {% for player in bannedplayers %}
                            <option value="{{ player }}">{{ player.title() }}</option>
                            {% endfor %}
                            </select>
                        </div> 
                    </div>
                    <div class="control">
                        <button class="button is-medium" type="submit">
                            <i class="fas fa-lg fa-search"i></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
         <div class='container top-pad-15 is-centered is-mobile'>
             <b>&nbsp;Expired Players ({{ ui_len(expiredplayers) }}):</b>:
            <form action="/playersearch" method="POST">
                <div class="field has-addons">
                    <div class="control">
                        <div class="select is-medium" id="player">
                            <select name="player">
                            <option value="">Select Player</option>
                            {% for player in expiredplayers %}
                            <option value="{{ player }}">{{ player.title() }}</option>
                            {% endfor %}
                            </select>
                        </div> 
                    </div>
                    <div class="control">
                        <button class="button is-medium" type="submit">
                            <i class="fas fa-lg fa-search"i></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
          <div class='container top-pad-15 is-centered is-mobile'>
             <b>&nbsp;New Players This Week ({{ ui_len(newplayers) }}):</b>:
            <form action="/playersearch" method="POST">
                <div class="field has-addons">
                    <div class="control">
                        <div class="select is-medium" id="player">
                            <select name="player">
                            <option value="">Select Player</option>
                            {% for player in newplayers %}
                            <option value="{{ player }}">{{ player.title() }}</option>
                            {% endfor %}
                            </select>
                        </div> 
                    </div>
                    <div class="control">
                        <button class="button is-medium" type="submit">
                            <i class="fas fa-lg fa-search"i></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
 
    </div>

